@import url(theme/base.css);
@import url(theme/theme.light.css) (prefers-color-scheme: light);
@import url(theme/theme.dark.css) (prefers-color-scheme: dark);

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  background-color: var(--background0);
}
